@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}




/* common */
body {font-family: 'Roboto', sans-serif; font-size: 15px; font-weight: 400; color: #000000; background: #ffffff;}

#wrapper {min-width: 1024px; overflow: hidden;}


#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background: rgba(0, 0, 0, 0.7); color: #ff4a32; font-size: 14px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}


#header {position: fixed; left: 0; top: 0; width: 100%; height: 104px; font-weight: 500; letter-spacing: 1px; font-size: 14px;  z-index: 10000; transition: all 0.9s; }
#header div.checkout {position: absolute; left: 0; top: 0; width: 100%; line-height: 28px; font-size: 12px; letter-spacing: 2px; text-align: center; color: #ffffff; background: #000000; transition: all 0.9s;}     
#header div.header-nav {position: relative; left: 0; top: 28px; width: 100%; height: 76px; background: #ffffff; transition: all 0.1s;}
#header div.header-nav h1 {position: absolute; left: 22px; top: 50%; transform: translate(0,-50%); width: 200px;}
#header div.header-nav h1 a {display: block; transition: all 0.9s;}
#header div.header-nav h1 a img {width: 100%; transition: all 0.9s;}
#header div.header-nav h1 a:hover {opacity: 0.7;}

#gnb {position: absolute; left: 20%; top: 50%; transform: translate(0,-50%); text-align: center; line-height: 76px; background: #ffffff;}
#gnb > ul > li {float: left; transition: all 0.5s; position: relative; display: inline-block;}
#gnb > ul > li + li {margin-left: 20px;}
#gnb > ul > li a {display: inline-block;}
#gnb > ul > li a:hover {color: #ff4a32;}

#gnb > ul > li > ul {position: absolute; left: 0; top: 100%; width: 200px; background: #ffffff; box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); display: none;}
#gnb > ul > li > ul > li a {display: block; padding: 10px; margin-left: 5px; text-align: left; line-height: 16px; }
#gnb > ul > li:hover > ul {display: block;}
#gnb > ul > li i {margin-left: 5px; transition: transform 0.3s;}
#gnb > ul > li:hover i {transform: rotate(180deg);}

#header div.header-nav > ul {position: absolute; right: 10px; top: 50%; transform: translate(0,-50%); color: #000000; display: block;}
#header div.header-nav > ul > li {float: left; font-size: 18px; transition: all 0.5s;}
#header div.header-nav > ul > li + li {margin-left: 10px;}
#header div.header-nav > ul > li:hover {color: #ff4a32;} 


#header.on {position: fixed; left: 0; top: 0; width: 100%; height: 104px; font-weight: 500; letter-spacing: 1px; font-size: 14px;  z-index: 10000; }
#header.on div.checkout{display: none;}
#header.on div.header-nav {position: relative; left: 0; top: 0; width: 100%; height: 70px; background: #ffffff; box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); opacity: 0.9; }
#header.on div.header-nav h1 {position: absolute; left: 22px; top: 50%; transform: translate(0,-50%); width: 160px;}
#header.on div.header-nav h1 a {display: block; transition: all 0.5s;}
#header.on div.header-nav h1 a img {width: 100%;}
#header.on div.header-nav h1 a:hover {opacity: 0.7;}

#gnb.on {position: absolute; left: 20%; top: 50%; transform: translate(0,-50%); text-align: center; font-size: 14px; font-weight: 500; letter-spacing: 1px; line-height: 70px; background: #ffffff;}
#gnb.on > ul > li {float: left; transition: all 0.5s; position: relative; display: 'block';}
#gnb.on > ul > li + li {margin-left: 20px;}
#gnb.on > ul > li a {display: inline-block;}
#gnb.on > ul > li a:hover {color: #ff4a32;}

#gnb.on > ul > li > ul {position: absolute; left: 0; top: 100%; width: 200px; background: #ffffff; box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); display: none;}
#gnb.on > ul > li > ul > li a {display: block; padding: 10px; margin-left: 5px; text-align: left; line-height: 16px; }
#gnb.on > ul > li:hover > ul {display: block;}
#gnb.on > ul > li i {margin-left: 5px; transition: transform 0.3s;}
#gnb.on > ul > li:hover i {transform: rotate(180deg);}

#header.on div.header-nav > ul {position: absolute; right: 10px; top: 50%; transform: translate(0,-50%); color: #000000; display: block;}
#header.on div.header-nav > ul > li {float: left; font-size: 18px; transition: all 0.5s;}
#header.on div.header-nav > ul > li + li {margin-left: 10px;}
#header.on div.header-nav > ul > li:hover {color: #ff4a32;} 


#footer div.pros {position: relative; left: 0; top: 0; width: 100%; height: auto;  background: #000000; color: #ffffff;  overflow: hidden;}
#footer div.pros ul {text-align: center; padding: 20px 0px; }   
#footer div.pros ul > li {width: 20%; height: 100%; margin: 2%; display: inline-block;vertical-align: top; }
#footer div.pros ul > li img {width: 80px;}
#footer div.pros ul > li em {display: block; font-size: 32px; font-weight: 700; line-height: 1.125;  margin-top: 10px; margin-bottom: 24px;}
#footer div.pros ul > li p {line-height: 1.5;}


#footer div.explain {position: relative; left: 0; top: 0; width: 100%; height: 280px;  padding-top: 15px; padding-bottom: 35px; overflow: hidden; background: #f7f7f7;}
#footer div.explain > img {position: absolute; left: 70px; top: 58px; transition: all 0.5s;}
#footer div.explain > img:hover {opacity: 0.7;}
#footer div.explain > div.footer-link {position: absolute; left: 35%; top: 58px; }
#footer div.explain > div.footer-link em {font-size: 20px; font-weight: 600; }
#footer div.explain > div.footer-link ul {margin-top: 10px; font-size: 14px; line-height: 1.5;}
#footer div.explain > div.footer-link ul a { transition: all 0.5s;}
#footer div.explain > div.footer-link ul a:hover {color: #ff4a32;}

#footer div.explain > div.about {position: absolute; right: 90px; top: 58px; width: 29%; }
#footer div.explain > div.about em {font-size: 20px; font-weight: 600; }
#footer div.explain > div.about p {margin-top: 10px; font-size: 14px; line-height: 1.5; }
#footer div.explain > div.about address {margin-top: 15px;  }
#footer div.explain > div.about address > span {display: block; font-size: 14px; line-height: 1.5;}

#footer div.extra {position: relative; left: 0; top: 0; width: 100%; height: 70px;}
#footer div.extra p.copyright {position: absolute; left: 40px; top: 22px; font-size: 13px;}
#footer div.extra p.copyright a {color: #ff4a32; }
#footer div.extra ul.payment {position: absolute; right: 40px; top: 22px; overflow: hidden;}
#footer div.extra ul.payment li {float: left; display: block;}
#footer div.extra ul.payment li + li {margin-left: 3px;}
#footer div.extra ul.payment li i {font-size: 28px; color:#000000;}




/*main*/

#main > section#main-visual {position: relative; left: 0; top: 0; width: 100%; height: 800px; margin-top: 70px; overflow: hidden; background: url(../img/main/main.png) center center no-repeat; background-size: cover;}
#main > section#main-visual h2 {position: absolute; left: 50%; top:8%; transform: translate(-50%, 0); font-size: 45px; font-weight: 700; line-height: 1.125; text-align: center; }
#main > section#main-visual p {position: absolute; left: 50%; top:16%; transform: translate(-50%, 0); font-weight: 700; line-height: 1.25; letter-spacing: 1px; text-align: center; }
#main > section#main-visual ul {position: absolute; left: 50%; top:20%; transform: translate(-50%, 0); overflow: hidden;}
#main > section#main-visual ul li {float: left;}
#main > section#main-visual ul li + li {margin-left: 12px;}

#main > section#companys {position: relative; left: 0; top: 0; width: 100%; text-align: center; background: black;}
#main > section#companys ul {display: inline-block; overflow: hidden; margin: 18px 0; }
#main > section#companys ul li {float: left;}
#main > section#companys ul li + li {margin-left: 100px;}

#main > section#looking {position: relative; left: 0; top: 0; width: 100%; text-align: center; padding-bottom: 20px;}
#main > section#looking::after {content: ''; position: absolute; left: 50%; top: 18%; transform: translate(-50%,0); width: 70px; height: 2px; background: #cfcfcf;}
#main > section#looking h2 {font-size: 32px; font-weight: 700; line-height: 1.125; margin-top: 50px;}
#main > section#looking p {font-size: 15px; font-weight: 400; padding: 0 360px; margin: 16px 0; }
#main > section#looking em {font-size: 15px; font-weight: 500;}
#main > section#looking ul.shop2 {display: inline-block; overflow: hidden; width: 90%; height: 580px;  margin-top: 74px; text-align: center;}
#main > section#looking ul.shop2 li {position: relative; width: 45%; height: 100%; overflow: hidden; display: inline-block;}
#main > section#looking ul.shop2 li + li {margin-left:  20px;}
#main > section#looking ul.shop2 li > a {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); height: 100%; }
#main > section#looking ul.shop2 li > a img {height: 100%; transition: all 0.3s; opacity: 0.8;}
#main > section#looking ul.shop2 li > a span {position: absolute; left: 50%; top: 42%; transform: translate(-50%,-50%); height: 50px;}
#main > section#looking ul.shop2 li > a em{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #ffffff; line-height: 1.5; font-weight: 700; font-size: 25px; letter-spacing: 0px; opacity: 1;}
#main > section#looking ul.shop2 li > a p {position: absolute; left: 50%; top: 54%; transform: translate(-50%,-50%); color: #ffffff; line-height: 1.125; font-size: 17px; width: 100%; opacity: 1;}
#main > section#looking ul.shop2 li > a:hover img {height: 110%; }

#main > section#skateboards {position: relative; left: 0; top: 0; height: 720px; background: url(../img/main/boosted_shop_main.png) center center no-repeat; background-size: cover; overflow: hidden;}
#main > section#skateboards span {position: absolute; left: 50%; top:8%; transform: translate(-50%, 0); font-weight: 700; line-height: 1.25; letter-spacing: 1px; text-align: center;}
#main > section#skateboards h2 {position: absolute; left: 50%; top:12%; transform: translate(-50%, 0); font-size: 45px; font-weight: 700; line-height: 1.125; text-align: center;}
#main > section#skateboards p {position: absolute; left: 50%; top:22%; transform: translate(-50%, 0); font-weight: 700; line-height: 1.25; letter-spacing: 1px; text-align: center;}
#main > section#skateboards a.btn {position: absolute; left: 50%; top:28%; transform: translate(-50%, 0);} 


#main > section#boosted {position: relative; left: 0; top: 0;padding: 40px 40px;}
#main > section#boosted ul {display: inline-block; line-height: 100%; overflow: hidden;}
#main > section#boosted ul li {width: 30.33%; vertical-align: middle; display: inline-block;}
#main > section#boosted ul li + li {margin-left: 20px;}
#main > section#boosted ul li > img {width: 100%;}
#main > section#boosted ul li.text {margin-left: 30px;}
#main > section#boosted ul li.text > h2 {font-size: 32px; line-height: 1.2; text-align: left; padding-bottom: 20px;}
#main > section#boosted ul li.text > p {line-height: 1.5; text-align: left; padding-bottom: 20px;}
#main > section#boosted ul li.text > a.btn{display: inline-block; text-align: left;}


#main > section#shop3 {width: 100%;}
#main > section#shop3 ul {height: 480px; overflow: hidden;}
#main > section#shop3 ul li {position: relative; width: calc(100%/3); height: 480px; background: #000000;}
#main > section#shop3 ul > li {float: left; overflow: hidden;}
#main > section#shop3 ul > li a > img {position: absolute; left: 50%; top: 0; transform: translate(-50%,0); display: block; width: 100%; height: 100%; opacity: 0.7; transition: all 0.3s;}
#main > section#shop3 ul > li a:hover > img {width: 110%; height: 110%;}
#main > section#shop3 ul > li > a > em {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; font-size: 25px; font-weight: 700; letter-spacing: 0px; color: #ffffff; text-align: center;}
#main > section#shop3 ul > li > a > p {position: absolute; left: 50%; top: 58%; transform: translate(-50%,-50%); font-size: 17px; line-height: 1.25; letter-spacing: 0px; color: #ffffff;} 



#main > section#youtube {text-align: center; width: 100%; height: auto; overflow: hidden;}
#main > section#youtube ul {display: inline-block; width: 90%; text-align: center;  margin: 20px;}
#main > section#youtube ul > li {display: inline-block; position: relative; left: 0; top: 0; width: 40%; max-width: 560px; height: 0; max-height: 315px; padding-bottom: 22.5%;}
#main > section#youtube ul > li + li {margin-left: 20px;}
#main > section#youtube ul > li iframe {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}


#main > section#accessories {position: relative; width: 100%;}
#main > section#accessories h2 {text-align: center; font-size: 32px; font-weight: 700; line-height: 1.125; margin-top: 30px;}
#main > section#accessories h2::after {content: ''; position: absolute; left: 50%; top: 66px; transform: translate(-50%,0); width: 70px; height: 2px; background: #cfcfcf;}

#main > section#accessories .box {overflow: hidden; padding: 20px 0px;}
#main > section#accessories .box .slide {position: relative; width: 5000px; overflow: hidden; margin: 30px 0px;}
#main > section#accessories .box .slide li {float: left; margin-right: 4px;  text-align: center; width: calc(2010 / 2010 * 200px);}
#main > section#accessories .box .slide li:last-child {margin-right: 0px;}
#main > section#accessories .box .slide li a {display: block;}
#main > section#accessories .box .slide li a img {display:inline-block; width: 100%;}
#main > section#accessories .box .slide li a p {color: #ff4a32; line-height: 1.2;}
#main > section#accessories .box .slide li a span.soldout {color:rgba(0, 0, 0, 0.3);}

#main > section#accessories .control a.prev,
#main > section#accessories .control a.next {position: absolute; top: 0; width: 30px; height: 100%;}
#main > section#accessories .control a.prev {left: 0;}
#main > section#accessories .control a.next {right: 0;}
#main > section#accessories .control a > i {font-size: 30px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: rgba(0, 0, 0, 0.75);}


/*sub-skateboards*/
#main > section#skateboards-shop {position: relative; left: 50%; top: 0; transform: translate(-50%,0); width: 95%; max-width: 1200px; height: auto; margin-top: 70px; padding-top: 40px; padding-bottom: 40px; overflow: hidden;}
#main > section#skateboards-shop h2 {font-size: 32px; font-weight: 700; line-height: 1.125; padding-top: 20px;}
#main > section#skateboards-shop h2::before {content: ''; position: absolute; left: 0; top: 120px; width: 70px; height: 2px; background: #cfcfcf;}
#main > section#skateboards-shop > p {line-height: 1.5; padding-top: 64px;}

#main > section#skateboards-shop div.items {margin-top: 20px;}
#main > section#skateboards-shop div.items ul.row {margin-left: 20px;}
#main > section#skateboards-shop div.items ul.row > li.cell {width: calc(33.3333% - 10px); height: 10%; padding-bottom: 20px; margin-bottom: 10px; display: inline-block; line-height: 100%; text-align: center;}
#main > section#skateboards-shop div.items ul.row > li.cell img {width: 100%;}
#main > section#skateboards-shop div.items ul.row > li.cell p {display: block; padding-top: 3px; line-height: 1.2; color: #ff2121;}
#main > section#skateboards-shop div.items ul.row > li.cell span {display: block; padding-top: 3px; line-height: 1.2; display: inline-block;}

/* module */
a.btn {display: inline-block; box-sizing: border-box; width: auto; line-height: 1.5; padding: calc(0.375em - 1px) 2em; font-size: 14px; text-align: center; border-radius: 35px; background-color: #ff4a32; border: 1px solid transparent; color: #ffffff; transition: background-color 0.2s ease-in-out;}
a.btn.main { width: 190px;}
a.btn:hover {background-color: #606060;}
a.btn:hover.click {border: 1px solid rgba(255, 74, 50, 0.7); }
span.soldout {color: rgba(0, 0, 0, 0.3);}
span> em {font-style: italic; font-size: smaller;}
span.cancel {text-decoration: line-through; color: rgba(255, 74, 50, 0.7);}


/*
a.btn {display: inline-block; box-sizing: border-box; min-width: 260px; line-height: 40px; padding: 0 2em; font-size: 14px; font-weight: 600; text-align: center; border-radius: 100px; background-color: rgba(255, 255, 255, 0.8); color: #000000;}
a.btn.order {min-width: 154px; height: 40px; line-height: 34px; border: 3px solid #ffffff; background: transparent; color: #ffffff; padding: 0; transition: all 0.3s;}
a.btn.gray {background-color: rgba(255, 255, 255, 0.7); color: #000000;}
a.btn.dark {background-color: rgba(0, 0, 0, 0.7); color: #ffffff;}
a.btn.black {background-color: #000000; color: #ffffff;}
a.btn.transparent {border-color: #ffffff; background: transparent; color: #ffffff;}
a.btn.transparent:hover {background: #ffffff; color: #000000;}
a.btn.basic {border-color: #000000; background: #ffffff; color: #000000;}
a.btn.basic:hover {background: #ffffff; color: #ffffff;}
*/




/* animation keyframes */
/*
@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  100% {transform: translate(0, 0); opacity: 1;}
}
@keyframes btn-effect-right {
  0% {transform: translate(0, 0);}
  100% {transform: translate(5px, 0);}
}
*/




